

<div class="col-md-8 mx-auto">
    <form method="post">
        <input type="hidden" class="form-control" name="Id" value="@Model.Id">

        <div class="form-group">
            <label>LINK 1</label>
            <input type="text" class="form-control" name="Link1" value="@Model.Link1">
        </div>

        <div class="form-group">
            <label>LINK 2</label>
            <input type="text" class="form-control" name="Link2" value="@Model.Link2">
        </div>

        <div class="form-group">
            <label>LINK 3</label>
            <input type="text" class="form-control" name="Link3" value="@Model.Link3">
        </div>

        <div class="form-group">
            <label>TITLE</label>
            <input type="text" class="form-control" name="Title" value="@Model.Title">
        </div>


        <button type="submit" class="btn btn-primary w-100">UPDATE</button>
    </form>
</div>